<div class="mypage-wrap">
  <div class="mypage-header">
    <%= link_to "マイページ", mypage_path, class: "link-header" %> |
    <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "link-header" %>
  </div>

  <div class="mypage-body">
    <!-- 左カラム：Your styling -->
    <div class="col">
      <span class="pill">Your styling</span>
      <ul class="thumb-grid">
        <% @stylings.each do |s| %>
          <li class="card">
            <% if s.photo.attached? %>
              <%= image_tag s.photo.variant(resize_to_fill: [180, 180]) %>
            <% else %>
              <div class="noimg">No image</div>
            <% end %>
            <div class="meta">
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- 中央カラム：Your item -->
    <div class="col">
      <span class="pill">Your item</span>
      <ul class="thumb-grid">
        <% @items.each do |item| %>
          <li class="card">
            <% if item.image.attached? %>
              <%= image_tag item.image.variant(resize_to_fill: [180, 180]) %>
            <% else %>
              <div class="noimg">No image</div>
            <% end %>
            <div class="meta">
        
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- 右カラム：ボタン -->
    <div class="side-actions">
  <%= link_to "Propose item", stylings_path, class: "btn-rect" %>
  <%= link_to "Post styling", new_styling_path, class: "btn-rect" %>
</div>

  </div>
</div>
